# 2.1 Ex: In class     

Read the CSV File into a *pandas* Dataframe  and display basic info about the new *pandas* Dataframe.    


- Filename:  **Olympics.csv**  


 
- **Demonstrates**:  
  - **read_csv()**  
  - head()  
  - shape  
  - dtypes

In [1]:
import pandas as pd

# 1. Read the CSV File into a *pandas* Dataframe  
- Under your code folder (or each code folder), create a folder named *Data*
- All the data files you use should be in a *Data* folder -- not the same folder as your Jupyter Notebooks  
- Data file:  **Olympics.csv**

In [2]:
df = pd.read_csv("Data/Country_Data.csv")

print(df.shape)
df.head()

(1692, 6)

       Country Continent  Year  Life Expectancy  Population  GDP Per Capita
0  Afghanistan      Asia  1952           28.801     8425333      779.445314
1  Afghanistan      Asia  1957           30.332     9240934      820.853030
2  Afghanistan      Asia  1962           31.997    10267083      853.100710
3  Afghanistan      Asia  1967           34.020    11537966      836.197138
4  Afghanistan      Asia  1972           36.088    13079460      739.981106