# 2.1 Demo: Reading a *CSV* file      

Read the CSV File into a *pandas* Dataframe  and display basic info about the new *pandas* Dataframe.    


- Filename:  **Olympics.csv**  


 
- **Demonstrates**:  
  - **read_csv()**  
  - head()  
  - shape  
  - dtypes

In [5]:
import pandas as pd

# 1. Read the CSV File into a *pandas* Dataframe  
- Under your code folder (or each code folder), create a folder named *Data*
- All the data files you use should be in a *Data* folder -- not the same folder as your Jupyter Notebooks  
- Data file:  **Olympics.csv**

In [6]:
df = pd.read_csv("Data/Olympics.csv")

print(df.shape)
df.head()

(87, 6)

   Rank              Country  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      19     55
4     5        Germany (GER)    17      10      15     42