# 2.2 Ex: Part 1 (In Class)    
 
Read an Excel worksheet into a *pandas* Dataframe and display basic info about the new *pandas* Dataframe.   



- Data file:  **w3schools_Data.xlsx**        
- Worksheet:   **Products**  


  
- **Demonstrates**:  
  - **read_excel()**  
  - head()  
  - shape   
  - dtypes

In [1]:
import pandas as pd

# 1. Read the Excel Worksheet data into a pandas dataframe

In [2]:
df = pd.read_excel("Data/w3schools_Data.xlsx", "Products", skiprows=0)

print("Ex 2.2: Part 1")
print(df.shape)
df.head()

Ex 2.2: Part 1
(77, 6)

,Product_ID,Product_Name,SupplierID,CategoryID,ProductDescription,ProductPrice
0,1,Chais,1,1,10 boxes x 20 bags,18.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35

In [3]:
df.dtypes

Product_ID              int64
Product_Name           object
SupplierID              int64
CategoryID              int64
ProductDescription     object
ProductPrice          float64
dtype: object