# 2.2 Demo: Reading an *Excel* file      
 
Read an Excel worksheet into a *pandas* Dataframe and display basic info about the new *pandas* Dataframe.   



- Data file:  **w3schools_Data.xlsx**        
- Worksheet:   **Orders**  


  
- **Demonstrates**:  
  - **read_excel()**  
  - head()  
  - shape   
  - dtypes

In [1]:
import pandas as pd

# 1. Read the Excel Worksheet data into a pandas dataframe

In [3]:
df = pd.read_excel("Data/w3schools_Data.xlsx", "Orders", skiprows=3)

print("Demo 2.2: Reading Excel files into pandas Dataframe")
print(df.shape)
df.head()

Demo 2.2: Reading Excel files into pandas Dataframe
(196, 5)

   OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0    10248          90           5 1996-07-04          3
1    10249          81           6 1996-07-05          1
2    10250          34           4 1996-07-08          2
3    10251          84           3 1996-07-08          1
4    10252          76           4 1996-07-09          2

In [4]:
df.dtypes

OrderID                int64
CustomerID             int64
EmployeeID             int64
OrderDate     datetime64[ns]
ShipperID              int64
dtype: object