# 2.3 Ex: Part 1 (In Class)     

- Data file:  **Cars.csv**

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_csv("Data/Cars.csv")

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200
2,Acura,TSX 4dr,Sedan,Asia,22,29,26990,24647,3230,105,Front,2.4,200
3,Acura,TL 4dr,Sedan,Asia,20,28,33195,30299,3575,108,Front,3.2,270
4,Acura,3.5 RL 4dr,Sedan,Asia,18,24,43755,39014,3880,115,Front,3.5,225

In [14]:
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                  int64
MPG_Hwy                   int64
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

# Q1.1:  How many Fords had an MPG Highway of at least 20 mpg? 

- Sort this dataframe by MPG Highway, Greatest to Least

In [3]:
df['Vehicle_Make'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [25]:
df_Q1 = df.query("Vehicle_Make == 'Ford' and MPG_Hwy >= 20")

print("Q1.1:  How many Fords had an MPG Highway of at least 20 mpg? ")
print(df_Q1.shape)
df_Q1.sort_values(by=['MPG_Hwy'], ascending=False)

Q1.1:  How many Fords had an MPG Highway of at least 20 mpg?
(19, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
123,Ford,Focus LX 4dr,Sedan,USA,27,36,13730,12906,2606,103,Front,2.0,110
122,Ford,Focus ZX3 2dr hatch,Sedan,USA,26,33,13270,12482,2612,103,Front,2.0,130
124,Ford,Focus SE 4dr,Sedan,USA,26,33,15460,14496,2606,103,Front,2.0,130
125,Ford,Focus ZX5 5dr,Sedan,USA,26,33,15580,14607,2691,103,Front,2.0,130
139,Ford,Focus ZTW,Wagon,USA,26,33,17475,16375,2702,103,Front,2.0,130
133,Ford,Mustang 2dr (convertible),Sports,USA,20,29,18345,16943,3290,101,Rear,3.8,193
138,Ford,Ranger 2.3 XL Regular Cab,Truck,USA,24,29,14385,13717,3028,111,Rear,2.3,143
126,Ford,Focus SVT 2dr,Sedan,USA,21,28,19135,17878,2750,103,Front,2.0,170
127,Ford,Taurus LX 4dr,Sedan,USA,20,27,20320,18881,3306,109,Front,3.0,155
140,Ford,Taurus SE,Wagon,USA,19,26,22290,20457,3497,109,Front,3.0,155
128,Ford,Taurus SES Duratec 4dr,Sedan,USA,19,26,22735,20857,3313,109,Front,3.0,201
134,Ford,Mustang GT Premium convertible 2dr,Sports,USA,17,25,29380,26875,3347,101,Rear,4.6,260
129,Ford,Crown Victoria 4dr,Sedan,USA,17,25,24345,22856,4057,115,Rear,4.6,224
131,Ford,Crown Victoria LX Sport 4dr,Sedan,USA,17,25,30315,27756,4057,115,Rear,4.6,239
130,Ford,Crown Victoria LX 4dr,Sedan,USA,17,25,27370,25105,4057,115,Rear,4.6,224
135,Ford,Thunderbird Deluxe convert w/hardtop 2d,Sports,USA,17,24,37530,34483,3780,107,Front,3.9,280
132,Ford,Freestar SE,Sedan,USA,17,23,26930,24498,4275,121,Front,3.9,193
121,Ford,Escape XLS,SUV,USA,18,23,22515,20907,3346,103,All,3.0,201
120,Ford,Explorer XLT V6,SUV,USA,15,20,29670,26983,4463,114,All,4.0,210

In [21]:
df_Q1['Vehicle_Make'].unique()

array(['Ford'], dtype=object)

In [20]:

df_Q1['MPG_Hwy'].unique()

array([20, 23, 33, 36, 28, 27, 26, 25, 29, 24], dtype=int64)

# Q1.2: How many vehicles that did not come from Asia, had an MPG Highway > 35 and a Horsepower of at least 100? 

- Sort this dataframe by MPG City, Greatest to Least

In [13]:
df['Manufacturing_Origin'].unique()

array(['Asia', 'Europe', 'USA'], dtype=object)

In [24]:
df_Q2 = df.query("Manufacturing_Origin != 'Asia' and MPG_Hwy > 35 and Horsepower >=100")

print("Q1.2: How many vehicles that did not come from Asia, had an MPG Highway > 35 and a Horsepower of at least 100? ")
print(df_Q2.shape)
df_Q2.sort_values(by=['MPG_City'], ascending=False)

Q1.2: How many vehicles that did not come from Asia, had an MPG Highway > 35 and a Horsepower of at least 100?
(9, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
404,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,38,46,21055,19638,3003,99,Front,1.9,100
106,Dodge,Neon SE 4dr,Sedan,USA,29,36,13670,12849,2581,105,Front,2.0,132
107,Dodge,Neon SXT 4dr,Sedan,USA,29,36,15040,14086,2626,105,Front,2.0,132
329,Pontiac,Vibe,Wagon,USA,29,36,17045,15973,2701,102,Rear,1.8,130
238,MINI,Cooper,Sedan,Europe,28,37,16999,15437,2524,97,Front,1.6,115
123,Ford,Focus LX 4dr,Sedan,USA,27,36,13730,12906,2606,103,Front,2.0,110
69,Chevrolet,Cavalier 2dr,Sedan,USA,26,37,14610,13697,2617,104,Front,2.2,140
70,Chevrolet,Cavalier 4dr,Sedan,USA,26,37,14810,13884,2676,104,Front,2.2,140
71,Chevrolet,Cavalier LS 2dr,Sedan,USA,26,37,16385,15357,2617,104,Front,2.2,140

In [16]:
df_Q2['Manufacturing_Origin'].unique()

array(['USA', 'Europe'], dtype=object)

In [22]:
df_Q2['MPG_Hwy'].unique()

array([37, 36, 46], dtype=int64)

In [23]:
df_Q2['Horsepower'].unique()

array([140, 132, 110, 115, 130, 100], dtype=int64)