# 2.3 Ex: Part 3 (Outside Class)     

- Data file:  **Leading_Causes_of_Death.csv**

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_csv("Data/Leading_Causes_of_Death.csv")

print(df.shape)
df.head()

(10868, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
0,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,169936,49.4
1,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alabama,2703,53.8
2,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alaska,436,63.7
3,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Arizona,4184,56.2
4,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Arkansas,1625,51.8

In [3]:
df.dtypes

Year                         int64
Death_Cause_Name            object
113_Cause_Name              object
State                       object
Deaths                       int64
Age-Adjusted Death Rate    float64
dtype: object

# Q3.1: In 2017, what were the leading causes of death in the US?

In [16]:
df_Q1 = df.query("Year == 2017 and Death_Cause_Name != 'All causes'")

print("Q3.1: In 2017, what were the leading causes of death in the US?")
df_Q1_1 = df_Q1.drop_duplicates(subset='Death_Cause_Name')
print(df_Q1_1.shape)
df_Q1_1

Q3.1: In 2017, what were the leading causes of death in the US?
(10, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
0,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,169936,49.4
104,2017,Alzheimer's disease,Alzheimer's disease (G30),United States,121404,31.0
156,2017,Stroke,Cerebrovascular diseases (I60-I69),United States,146383,37.6
208,2017,CLRD,Chronic lower respiratory diseases (J40-J47),United States,160201,40.9
260,2017,Diabetes,Diabetes mellitus (E10-E14),United States,83564,21.5
312,2017,Heart disease,"Diseases of heart (I00-I09,I11,I13,I20-I51)",United States,647457,165.0
364,2017,Influenza and pneumonia,Influenza and pneumonia (J09-J18),United States,55672,14.3
416,2017,Suicide,"Intentional self-harm (suicide) (*U03,X60-X84,...",United States,47173,14.0
468,2017,Cancer,Malignant neoplasms (C00-C97),United States,599108,152.5
520,2017,Kidney disease,"Nephritis, nephrotic syndrome and nephrosis (N...",United States,50633,13.0

In [17]:
df_Q1_1['Year'].unique()

array([2017], dtype=int64)

In [18]:

df_Q1_1['Death_Cause_Name'].unique()

array(['Unintentional injuries', "Alzheimer's disease", 'Stroke', 'CLRD',
       'Diabetes', 'Heart disease', 'Influenza and pneumonia', 'Suicide',
       'Cancer', 'Kidney disease'], dtype=object)

# Q3.2: In 2000, what were the leading causes of death in the US?

In [20]:
df_Q2 = df.query("Year == 2000 and Death_Cause_Name != 'All causes'")

print("Q3.2: In 2000, what were the leading causes of death in the US?")
df_Q2_1 = df_Q2.drop_duplicates(subset='Death_Cause_Name')
print(df_Q2_1.shape)
df_Q2_1

Q3.2: In 2000, what were the leading causes of death in the US?
(10, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
9724,2000,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alabama,2093,47.0
9828,2000,Alzheimer's disease,Alzheimer's disease (G30),Alabama,895,20.4
9880,2000,Stroke,Cerebrovascular diseases (I60-I69),Alabama,3183,71.5
9932,2000,CLRD,Chronic lower respiratory diseases (J40-J47),Alabama,2057,45.5
9984,2000,Diabetes,Diabetes mellitus (E10-E14),Alabama,1321,29.3
10036,2000,Heart disease,"Diseases of heart (I00-I09,I11,I13,I20-I51)",Alabama,13406,299.5
10088,2000,Influenza and pneumonia,Influenza and pneumonia (J09-J18),Alabama,1138,25.7
10140,2000,Suicide,"Intentional self-harm (suicide) (*U03,X60-X84,...",Alabama,583,13.1
10192,2000,Cancer,Malignant neoplasms (C00-C97),Alabama,9807,215.4
10244,2000,Kidney disease,"Nephritis, nephrotic syndrome and nephrosis (N...",Alabama,939,21.1

In [22]:
df_Q2_1['Year'].unique()

array([2000], dtype=int64)

In [23]:
df_Q2_1['Death_Cause_Name'].unique()

array(['Unintentional injuries', "Alzheimer's disease", 'Stroke', 'CLRD',
       'Diabetes', 'Heart disease', 'Influenza and pneumonia', 'Suicide',
       'Cancer', 'Kidney disease'], dtype=object)