# Ex 2.4: Part 1 (In Class)

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_csv("Data/Cars.csv")

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200
2,Acura,TSX 4dr,Sedan,Asia,22,29,26990,24647,3230,105,Front,2.4,200
3,Acura,TL 4dr,Sedan,Asia,20,28,33195,30299,3575,108,Front,3.2,270
4,Acura,3.5 RL 4dr,Sedan,Asia,18,24,43755,39014,3880,115,Front,3.5,225

In [3]:
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                  int64
MPG_Hwy                   int64
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

# Q1.1:  What were the Top 5 Chevrolets for MPG Highway? 

- Sort this dataframe by MPG Highway (Greatest to Least) and Vehicle Model (Alphabetically)

In [8]:
df_Q1 = df.query("Vehicle_Make == 'Chevrolet'")
df_Q1.sort_values(by=['MPG_Hwy', 'Vehicle_Model'], ascending=[False, True], inplace=True)

df_TopN = df_Q1.iloc[ : 5]

print("Ex 2.4 Part 1")
print(df_TopN.shape)
df_TopN

Ex 2.4 Part 1
(5, 13)

C:\Users\W10\AppData\Local\Temp\ipykernel_9356\2025229559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Q1.sort_values(by=['MPG_Hwy', 'Vehicle_Model'], ascending=[False, True], inplace=True)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
69,Chevrolet,Cavalier 2dr,Sedan,USA,26,37,14610,13697,2617,104,Front,2.2,140
70,Chevrolet,Cavalier 4dr,Sedan,USA,26,37,14810,13884,2676,104,Front,2.2,140
71,Chevrolet,Cavalier LS 2dr,Sedan,USA,26,37,16385,15357,2617,104,Front,2.2,140
67,Chevrolet,Aveo 4dr,Sedan,USA,28,34,11690,10965,2370,98,Front,1.6,103
68,Chevrolet,Aveo LS 4dr hatch,Sedan,USA,28,34,12585,11802,2348,98,Front,1.6,103