# Ex 2.4: Part 3 (Outside Class)

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_csv("Data/Leading_Causes_of_Death.csv")

print(df.shape)
df.head()

(10868, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
0,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,169936,49.4
1,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alabama,2703,53.8
2,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alaska,436,63.7
3,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Arizona,4184,56.2
4,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Arkansas,1625,51.8

In [3]:
df.dtypes

Year                         int64
Death_Cause_Name            object
113_Cause_Name              object
State                       object
Deaths                       int64
Age-Adjusted Death Rate    float64
dtype: object

# Q4.1:  In 2000, what were the Top 5 leading causes of death in the US?

In [4]:
df_Q1 = df.query("Year == 2000 and State == 'United States' and Death_Cause_Name != 'All causes'")
df_Q1.drop_duplicates(subset='Death_Cause_Name', inplace=True)
df_Q1.sort_values(by='Deaths', ascending=False, inplace=True)

print("Ex 2.4 Part 4: In 2000, what were the Top 5 leading causes of death in the US?  ")
df_TopN = df_Q1.iloc[ : 5]

print(df_TopN.shape)
df_TopN

Ex 2.4 Part 4: In 2000, what were the Top 5 leading causes of death in the US?
(5, 6)

C:\Users\W10\AppData\Local\Temp\ipykernel_9768\3023092523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Q1.drop_duplicates(subset='Death_Cause_Name', inplace=True)
C:\Users\W10\AppData\Local\Temp\ipykernel_9768\3023092523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Q1.sort_values(by='Deaths', ascending=False, inplace=True)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
10080,2000,Heart disease,"Diseases of heart (I00-I09,I11,I13,I20-I51)",United States,710760,257.6
10236,2000,Cancer,Malignant neoplasms (C00-C97),United States,553091,199.6
9924,2000,Stroke,Cerebrovascular diseases (I60-I69),United States,167661,60.9
9976,2000,CLRD,Chronic lower respiratory diseases (J40-J47),United States,122009,44.2
9768,2000,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,97900,34.9