# Demo 2.4 ***sort_values()***: Sorting a *pandas* Dataframe    

 
- **Demonstrates**:  
  - Sorting with  ***sort_values()*** 


- **Sorting by One, Two or Three Columns**   
  - [**Sorting by a Single Column**](#Sorting-by-a-Single-Column)    
  - [**Sorting by Two Columns**](#Sorting-by-Two-Columns)  
  - [**Sorting by Three Columns**](#Sorting-by-Three-Columns)  


- Data file:  **Cars.csv**

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_csv("Data/Cars.csv")

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200
2,Acura,TSX 4dr,Sedan,Asia,22,29,26990,24647,3230,105,Front,2.4,200
3,Acura,TL 4dr,Sedan,Asia,20,28,33195,30299,3575,108,Front,3.2,270
4,Acura,3.5 RL 4dr,Sedan,Asia,18,24,43755,39014,3880,115,Front,3.5,225

In [3]:
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                  int64
MPG_Hwy                   int64
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

# Sorting by a Single Column

### Sort Highest to Lowest

In [4]:
df.sort_values(by='MPG_City', ascending=False, inplace=True)

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,60,66,19110,17911,1850,95,Front,2.0,73
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,59,51,20510,18926,2890,106,Front,1.5,110
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,46,51,20140,18451,2732,103,Front,1.4,93
404,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,38,46,21055,19638,3003,99,Front,1.9,100
155,Honda,Civic HX 2dr,Sedan,Asia,36,44,14170,12996,2500,103,Front,1.7,117

### Sort Lowest to Highest

In [5]:
df.sort_values(by='MPG_City', ascending=True, inplace=True)


print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
166,Hummer,H2,SUV,USA,10,12,49995,45815,6400,123,All,6.0,316
118,Ford,Excursion 6.8 XLT,SUV,USA,10,13,41475,36494,7190,137,All,6.8,310
216,Land Rover,Discovery SE,SUV,Europe,12,16,39250,35777,4576,100,All,4.6,217
215,Land Rover,Range Rover HSE,SUV,Europe,12,16,72250,65807,5379,113,All,4.4,282
412,Volkswagen,Phaeton W12 4dr,Sedan,Europe,12,19,75000,69130,5399,118,Front,6.0,420

# Sorting by Two Columns

### Sort by Origin (Alphabetically) and MPG_City (Most to Least)

In [6]:
df.sort_values(by=['Manufacturing_Origin', 'MPG_City'], ascending=[True, False], inplace=True)

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,60,66,19110,17911,1850,95,Front,2.0,73
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,59,51,20510,18926,2890,106,Front,1.5,110
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,46,51,20140,18451,2732,103,Front,1.4,93
155,Honda,Civic HX 2dr,Sedan,Asia,36,44,14170,12996,2500,103,Front,1.7,117
382,Toyota,Echo 2dr manual,Sedan,Asia,35,43,10760,10144,2035,93,Front,1.5,108

### Sort by Origin (Reverse Alphabetically) and MPG_City (Least to Most)

In [7]:
df.sort_values(by=['Manufacturing_Origin', 'MPG_City'], ascending=[False, True], inplace=True)

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
166,Hummer,H2,SUV,USA,10,12,49995,45815,6400,123,All,6.0,316
118,Ford,Excursion 6.8 XLT,SUV,USA,10,13,41475,36494,7190,137,All,6.8,310
114,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,12,20,81795,74451,3410,99,Rear,8.3,500
87,Chevrolet,Silverado SS,Truck,USA,13,17,40340,35399,4804,144,All,6.0,300
147,GMC,Sierra HD 2500,Truck,USA,13,18,29322,25759,5440,133,All,6.0,300

# Sorting by Three Columns

### Sort by Origin (Alphabetically), Type (Alphabetically) and MPG_City (Most to Least)

In [8]:
df.sort_values(by=['Manufacturing_Origin', 'Vehicle_Type', 'MPG_City'], ascending=[True, True, False], inplace=True)

print(df.shape)
df.head(10)

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,60,66,19110,17911,1850,95,Front,2.0,73
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,59,51,20510,18926,2890,106,Front,1.5,110
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,46,51,20140,18451,2732,103,Front,1.4,93
240,Mazda,Tribute DX 2.0,SUV,Asia,22,25,21087,19742,3091,103,All,2.0,130
378,Toyota,RAV4,SUV,Asia,22,27,20290,18553,3119,98,All,2.4,161
288,Mitsubishi,Outlander LS,SUV,Asia,21,27,18892,17569,3240,103,Front,2.4,160
153,Honda,Element LX,SUV,Asia,21,24,18690,17334,3468,101,All,2.4,160
152,Honda,CR-V LX,SUV,Asia,21,25,19860,18419,3258,103,All,2.4,160
167,Hyundai,Santa Fe GLS,SUV,Asia,20,26,21589,20201,3549,103,Front,2.7,173
366,Suzuki,Vitara LX,SUV,Asia,19,22,17163,16949,3020,98,All,2.5,165