# Ex 2.5: Part 3 (Outside Class)
- Data file:  **Global Superstore 2016.xlsx**

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_excel("Data/Global Superstore 2016.xlsx", "Orders", skiprows=0)

print(df.shape)
df.head(2)

(51290, 24)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical

In [3]:
# data Vehicle_Types 'Before' 
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
Postal Code              float64
City                      object
State                     object
Country                   object
Region                    object
Market                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

# Q3.1: What are the Average Profits by Sub-Category?

In [4]:
ser = df.groupby("Sub-Category")['Profit'].mean()

ser

Sub-Category
Accessories     42.154896
Appliances      81.264402
Art             11.889363
Binders         11.785414
Bookcases       67.160688
Chairs          40.884178
Copiers        116.314687
Envelopes       12.086086
Fasteners        5.322679
Furnishings     14.852705
Labels           5.762754
Machines        39.614989
Paper           16.641367
Phones          64.556749
Storage         21.472902
Supplies         9.372329
Tables         -74.429023
Name: Profit, dtype: float64

In [5]:
# First, check that it is a pandas Series
type(ser)

pandas.core.series.Series

In [6]:
# It is, convert it  to a Dataframe
df1 = ser.to_frame()
df1.reset_index(inplace=True)

print("Q3.1: What are the Average Profits by Sub-Category? ")
print(df1.shape)
df1.head(5)

Q3.1: What are the Average Profits by Sub-Category?
(17, 2)

  Sub-Category     Profit
0  Accessories  42.154896
1   Appliances  81.264402
2          Art  11.889363
3      Binders  11.785414
4    Bookcases  67.160688

# Q3.2: What are the Total Profits by Customer?

In [8]:
ser = df.groupby('Customer Name')['Profit'].sum()

ser

Customer Name
Aaron Bergman         4683.20800
Aaron Hawkins         2450.92904
Aaron Smayling         369.16180
Adam Bellavance       4979.97690
Adam Hart             1902.03342
                         ...
Xylona Preis          1304.72260
Yana Sorensen         3450.40630
Yoseph Carroll        4347.17660
Zuschuss Carroll       436.93626
Zuschuss Donatelli     201.73710
Name: Profit, Length: 796, dtype: float64

In [9]:
# First, check that it is a pandas Series
type(ser)

pandas.core.series.Series

In [12]:
# It is, convert it  to a Dataframe
df2 = ser.to_frame()
df2.reset_index(inplace=True)
df2.sort_values(by='Profit', ascending=False, inplace=True)

print("Q3.2: What are the Total Profits by Customer? ")
print(df2.shape)
df2.head(5)

Q3.2: What are the Total Profits by Customer?
(796, 2)

    Customer Name      Profit
732  Tamara Chand  8672.89890
624  Raymond Buch  8453.04950
673  Sanjit Chand  8205.37990
335  Hunter Lopez  7816.56778
88    Bill Eplett  7410.00530