# Ex 2.5: Part 1 (In Class)
- Data file:  **Cars.csv**

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [2]:
df = pd.read_csv('Data/Cars.csv')

print(df.shape)
df.head(2)

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200

In [3]:
# data Vehicle_Types 'Before' 
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                  int64
MPG_Hwy                   int64
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

In [4]:
# Convert MSRP, Invoice, MPG_City, MPG_Hwy to floats
df['MSRP'] = df['MSRP'].astype(float)
df['Invoice'] = df['Invoice'].astype(float)

df['MPG_City'] = df['MPG_City'].astype(float)
df['MPG_Hwy'] = df['MPG_Hwy'].astype(float)

In [5]:
# data Vehicle_Types 'After' 
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                float64
MPG_Hwy                 float64
MSRP                    float64
Invoice                 float64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

# Q1: What is the Average MSRP by Vehicle Type?

In [6]:
ser = df.groupby("Vehicle_Type")['MSRP'].mean()

ser

Vehicle_Type
Hybrid    19920.000000
SUV       34790.250000
Sedan     29773.618321
Sports    53387.061224
Truck     24941.375000
Wagon     28840.533333
Name: MSRP, dtype: float64

In [7]:
# First, check that it is a pandas Series
type(ser)

pandas.core.series.Series

In [11]:
# It is, convert it  to a Dataframe
df = ser.to_frame()
df.reset_index(inplace=True)
df.sort_values(by='MSRP', ascending=False, inplace=True)

print("Q1: What is the Average MSRP by Vehicle Type? ")
print(df.shape)
df.head()

Q1: What is the Average MSRP by Vehicle Type?
(6, 2)

  Vehicle_Type          MSRP
3       Sports  53387.061224
1          SUV  34790.250000
2        Sedan  29773.618321
5        Wagon  28840.533333
4        Truck  24941.375000