# Ex 2.5: Part 2 (In Class)
- Data file:  **Sample - Superstore.xlsx**

In [1]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [3]:
df = pd.read_excel("Data/Sample - Superstore.xlsx", "Orders", skiprows=0)

print(df.shape)
df.head(2)

(9994, 21)

c:\Users\W10\anaconda3\envs\Cis340_Fall_2022\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Business_Segment,Country/Region,City,...,Zipcode,Region,Product_ID,Category,Subcategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [4]:
# data Vehicle_Types 'Before' 
df.dtypes

Row ID                       int64
Order ID                    object
Order_Date          datetime64[ns]
Ship Date           datetime64[ns]
Ship Mode                   object
Customer ID                 object
Customer Name               object
Business_Segment            object
Country/Region              object
City                        object
State                       object
Zipcode                    float64
Region                      object
Product_ID                  object
Category                    object
Subcategory                 object
Product_Name                object
Sales                      float64
Quantity                     int64
Discount                   float64
Profit                     float64
dtype: object

# Q2: What are the Total Sales and Profit by Region?

In [15]:
ser = df.groupby("Region")['Sales', 'Profit'].sum()

ser

C:\Users\W10\AppData\Local\Temp\ipykernel_10676\2107563325.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ser = df.groupby("Region")['Sales', 'Profit'].sum()

               Sales       Profit
Region
Central  501239.8908   39706.3625
East     678781.2400   91522.7800
South    391721.9050   46749.4303
West     725457.8245  108418.4489

In [16]:
# First, check that it is a pandas Series
type(ser)

pandas.core.frame.DataFrame

In [17]:
# It is not, it is already a dataframe, so reset index
ser.reset_index(inplace=True)

print("Q2: What are the Total Sales and Profit by Region? ")
print(ser.shape)
ser.head()

Q2: What are the Total Sales and Profit by Region?
(4, 3)

    Region        Sales       Profit
0  Central  501239.8908   39706.3625
1     East  678781.2400   91522.7800
2    South  391721.9050   46749.4303
3     West  725457.8245  108418.4489