# Demo 4.1 - Part 3:  Data Cleaning I  

- **Data Cleaning Skills Demonstrated:**  
  1. **Dropping** a Column  
  2. **Renaming** a Column  
  3. Getting rid of junk with *replace()*  
  4. Getting rid of Leading an Trailing Spaces with *strip()*

In [1]:
import pandas as pd

### Read data from Part 1 Demo Output

In [2]:
df = pd.read_csv("Data/4.1_Demo_P1_StatePop.csv")

print(df.shape)
df.head()

(52, 4)

   Rank         State  2020 Census Percent of Total
0   1.0    California     39538223           11.91%
1   2.0         Texas     29145505            8.74%
2   3.0       Florida     21538187            6.47%
3   4.0      New York     20201249            5.86%
4   5.0  Pennsylvania     13002700            3.86%

In [3]:
df.dtypes

Rank                float64
State                object
2020 Census           int64
Percent of Total     object
dtype: object

# Clean Data (as needed)

### Drop *Rank* Column

In [4]:
df.drop("Rank", axis='columns', inplace=True)

print(df.shape)
df.head()

(52, 3)

          State  2020 Census Percent of Total
0    California     39538223           11.91%
1         Texas     29145505            8.74%
2       Florida     21538187            6.47%
3      New York     20201249            5.86%
4  Pennsylvania     13002700            3.86%

### Rename Columns

In [5]:
cols_to_rename = {
                   'State':'State_Name', 
                   '2020 Census' : 'Population'
                 }
df.rename(columns = cols_to_rename, inplace=True)

print(df.shape)
df.head()

(52, 3)

     State_Name  Population Percent of Total
0    California    39538223           11.91%
1         Texas    29145505            8.74%
2       Florida    21538187            6.47%
3      New York    20201249            5.86%
4  Pennsylvania    13002700            3.86%

### Get rid of % in Percent of Total Column (before trying to change it to a float!)

In [6]:
df['Percent of Total'] = df['Percent of Total'].str.replace('%','')

In [7]:
df.head()

     State_Name  Population Percent of Total
0    California    39538223            11.91
1         Texas    29145505             8.74
2       Florida    21538187             6.47
3      New York    20201249             5.86
4  Pennsylvania    13002700             3.86

In [8]:
df['Percent of Total'] = pd.to_numeric(df['Percent of Total']).astype(float)

In [9]:
df.dtypes

State_Name           object
Population            int64
Percent of Total    float64
dtype: object

### Make sure there are no Leading or Trailing spaces in the columns that are strings

In [10]:
df['State_Name'] = df['State_Name'].str.strip()

print(df.shape)
df.head()

(52, 3)

     State_Name  Population  Percent of Total
0    California    39538223             11.91
1         Texas    29145505              8.74
2       Florida    21538187              6.47
3      New York    20201249              5.86
4  Pennsylvania    13002700              3.86