# Ex 5.1: Part V (Outside Class)

In [1]:
import pandas as pd
import plotly.express as px

# 1. Read one of the data sources to combine into a Dataframe

In [2]:
df_shippers = pd.read_excel("Data/w3schools_Data.xlsx", "Shippers", skiprows=2)

print(df_shippers.shape)
df_shippers.head()

(3, 3)

   ShipperID       ShipperName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

# 2. Read a second data source to combine into a Dataframe

In [3]:
df_P4 = pd.read_csv("Data/P4_OD_OR_Prod_Cat_Cust.csv")

print(df_P4.shape)
df_P4.head(3)

(518, 21)

,OrderDetailID,OrderID,Product_ID,Quantity,CustomerID,EmployeeID,OrderDate,ShipperID,Product_Name,SupplierID,...,ProductDescription,ProductPrice,CategoryName,Description,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,10248,11,12,90,5,1996-07-04,3,Queso Cabrales,5,...,1 kg pkg.,21.0,Dairy Products,Cheeses,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
1,2,10248,42,10,90,5,1996-07-04,3,Singaporean Hokkien Fried Mee,20,...,32 - 1 kg pkgs.,14.0,Grains/Cereals,"Breads, crackers, pasta, and cereal",Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
2,3,10248,72,5,90,5,1996-07-04,3,Mozzarella di Giovanni,14,...,24 - 200 g pkgs.,34.8,Dairy Products,Cheeses,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland

# 3. Make Crucial Decisions

### Decision 1: Choose the Left and Right Tables

In [4]:
left_table = df_P4
right_table = df_shippers

### Decision 2:  Choose the Join Fields

In [5]:
left_table.head(1)

,OrderDetailID,OrderID,Product_ID,Quantity,CustomerID,EmployeeID,OrderDate,ShipperID,Product_Name,SupplierID,...,ProductDescription,ProductPrice,CategoryName,Description,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,10248,11,12,90,5,1996-07-04,3,Queso Cabrales,5,...,1 kg pkg.,21.0,Dairy Products,Cheeses,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland

In [6]:
right_table.head(1)

   ShipperID     ShipperName           Phone
0          1  Speedy Express  (503) 555-9831

In [7]:
left_table_join_field = 'ShipperID'
right_table_join_field = 'ShipperID'

# 4. Use pandas *merge()* to create a Left Join

In [8]:
df_joined = pd.merge(left_table,       
                       right_table,     
                       left_on=left_table_join_field,
                       right_on=right_table_join_field,
                       how='left'         # Type of Join:  Left!
                      )

print()
print("Ex 5.1 Part 5: Merged Shippers data")
print("Left Table:  ", left_table.shape)
print("Right Table: ", right_table.shape)
print("Joined Dataframe: ", df_joined.shape)
print()

df_joined.head(2)

Ex 5.1 Part 5: Merged Shippers data
Left Table:   (518, 21)
Right Table:  (3, 3)
Joined Dataframe:  (518, 23)

,OrderDetailID,OrderID,Product_ID,Quantity,CustomerID,EmployeeID,OrderDate,ShipperID,Product_Name,SupplierID,...,CategoryName,Description,CustomerName,ContactName,Address,City,PostalCode,Country,ShipperName,Phone
0,1,10248,11,12,90,5,1996-07-04,3,Queso Cabrales,5,...,Dairy Products,Cheeses,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland,Federal Shipping,(503) 555-9931
1,2,10248,42,10,90,5,1996-07-04,3,Singaporean Hokkien Fried Mee,20,...,Grains/Cereals,"Breads, crackers, pasta, and cereal",Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland,Federal Shipping,(503) 555-9931

In [9]:
df_joined.dtypes

OrderDetailID           int64
OrderID                 int64
Product_ID              int64
Quantity                int64
CustomerID              int64
EmployeeID              int64
OrderDate              object
ShipperID               int64
Product_Name           object
SupplierID              int64
CategoryID              int64
ProductDescription     object
ProductPrice          float64
CategoryName           object
Description            object
CustomerName           object
ContactName            object
Address                object
City                   object
PostalCode             object
Country                object
ShipperName            object
Phone                  object
dtype: object

# Optional:  Save the Joined Dataframe as a CSV file

In [10]:
csv_file_to_create = "P5_OD_OR_Prod_Cat_Cust_Ship.csv"

filename_with_path = "Data/" + csv_file_to_create
df_joined.to_csv(filename_with_path, index=False)