# Ex 5.1: Part I (In Class)

In [1]:
import pandas as pd
import plotly.express as px

# 1. Read one of the data sources to combine into a Dataframe

In [3]:
df_details = pd.read_excel("Data/w3schools_Data.xlsx", "OrderDetails", skiprows=2)

print(df_details.shape)
df_details.head()

(518, 4)

   OrderDetailID  OrderID  Product_ID  Quantity
0              1    10248          11        12
1              2    10248          42        10
2              3    10248          72         5
3              4    10249          14         9
4              5    10249          51        40

# 2. Read a second data source to combine into a Dataframe

In [6]:
df_orders = pd.read_excel("Data/w3schools_Data.xlsx", "Orders", skiprows=3)

print(df_orders.shape)
df_orders.head(3)

(196, 5)

   OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0    10248          90           5 1996-07-04          3
1    10249          81           6 1996-07-05          1
2    10250          34           4 1996-07-08          2

# 3. Make Crucial Decisions

### Decision 1: Choose the Left and Right Tables

In [7]:
left_table = df_details
right_table = df_orders

### Decision 2:  Choose the Join Fields

In [8]:
left_table.head(1)

   OrderDetailID  OrderID  Product_ID  Quantity
0              1    10248          11        12

In [9]:
right_table.head(1)

   OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0    10248          90           5 1996-07-04          3

In [10]:
left_table_join_field = 'OrderID'
right_table_join_field = 'OrderID'

# 4. Use pandas *merge()* to create a Left Join

In [11]:
df_joined = pd.merge(left_table,       
                       right_table,     
                       left_on=left_table_join_field,
                       right_on=right_table_join_field,
                       how='left'         # Type of Join:  Left!
                      )

print()
print("Ex 5.1 Part 1: OrderDetails (Left) and Orders")
print("Left Table:  ", left_table.shape)
print("Right Table: ", right_table.shape)
print("Joined Dataframe: ", df_joined.shape)
print()

df_joined.head(2)

Ex 5.1 Part 1: OrderDetails (Left) and Orders
Left Table:   (518, 4)
Right Table:  (196, 5)
Joined Dataframe:  (518, 8)

,OrderDetailID,OrderID,Product_ID,Quantity,CustomerID,EmployeeID,OrderDate,ShipperID
0,1,10248,11,12,90,5,1996-07-04,3
1,2,10248,42,10,90,5,1996-07-04,3

# Optional:  Save the Joined Dataframe as a CSV file

In [12]:
csv_file_to_create = "P1_OrderDetails_Orders.csv"

filename_with_path = "Data/" + csv_file_to_create
df_joined.to_csv(filename_with_path, index=False)