# Demo 7.1b: 2019 State Populations (*/2019/pep/population*)     
- Vintage:  **2019**     
   


- **Examples and Supported Geographies:  https://api.census.gov/data/2019/pep/population.html**

In [1]:
import pandas as pd
import json
import requests
import pprint

import plotly.express as px

# 1. Build the API Request URL

### 1. Start your API Data Request  
- Requests always begin with: https://api.census.gov/data

In [2]:
base_url = "https://api.census.gov/data"

### 2. Add the Dataset Vintage Year and Name

In [3]:
dataset_name = "/2019/pep/population"

### 3. Start your Variable Request

In [4]:
get_start = "?get="

### 4. Add your Variables  
- Available Variables for Dataset: https://api.census.gov/data/2019/pep/population/variables.html

In [5]:
get_variables = "NAME,POP"

###   5. Add your Geography  
- Available Geographies for Dataset:  https://api.census.gov/data/2019/pep/population/geography.html

In [6]:
geography = "&for=county:*&in=state:13"

###   6. Put it all Together and Test

In [7]:
request_url = base_url + dataset_name + get_start + get_variables + geography
print("request_url = ", request_url)

request_url =  https://api.census.gov/data/2019/pep/population?get=NAME,POP&for=county:*&in=state:13

# 2. Use *requests* library to make the API call

In [8]:
# Make API Call
r = requests.get(request_url)

api_results = r.json()

In [9]:
#print(api_results)

In [10]:
# pprint makes it possible to see the structure of the returned data -- but it can be very, very long!
#pprint.pprint(api_results)

# 3. Figure out what Key (if any) to use to carve out the data we want from the returned data

In [11]:
type(api_results)

list

# 4. Get the data into a Dataframe  
- These Census Data results are in a list and have a specific form:  
  - The first element is a list of column names  
  - The remaining list elements are data

In [12]:
df = pd.DataFrame(api_results)

print(df.shape)
df.head()

(160, 4)

                          0      1      2       3
0                      NAME    POP  state  county
1     Bacon County, Georgia  11164     13     005
2  Brantley County, Georgia  19109     13     025
3  Ben Hill County, Georgia  16700     13     017
4     Burke County, Georgia  22383     13     033

### Get the first row into columns and then get rid of it

In [13]:
df.columns = df.iloc[0]

df =df.iloc[1:]

print(df.shape)
df.head()

(159, 4)

0                      NAME    POP state county
1     Bacon County, Georgia  11164    13    005
2  Brantley County, Georgia  19109    13    025
3  Ben Hill County, Georgia  16700    13    017
4     Burke County, Georgia  22383    13    033
5   Catoosa County, Georgia  67580    13    047

In [14]:
df.dtypes

0
NAME      object
POP       object
state     object
county    object
dtype: object

In [15]:
df.sort_values(by='county', inplace=True)

print("7.1 Demo 2:  2019 GA County Populations")
print(df.shape)
df.head(10)

7.1 Demo 2:  2019 GA County Populations
(159, 4)

0                        NAME     POP state county
114   Appling County, Georgia   18386    13    001
146  Atkinson County, Georgia    8165    13    003
1       Bacon County, Georgia   11164    13    005
147     Baker County, Georgia    3038    13    007
100   Baldwin County, Georgia   44890    13    009
135     Banks County, Georgia   19234    13    011
66     Barrow County, Georgia   83240    13    013
68     Bartow County, Georgia  107738    13    015
3    Ben Hill County, Georgia   16700    13    017
62    Berrien County, Georgia   19397    13    019