# Demo 7.1 *2021* State Populations (*/2021/pep/population*)     
- Vintage:  **2021**

In [1]:
import pandas as pd
import json
import requests
import pprint

import plotly.express as px

# 1. Build the API Request URL

### 1. Start your API Data Request  
- Requests always begin with: https://api.census.gov/data

In [2]:
base_url = "https://api.census.gov/data"

### 2. Add the Dataset Vintage Year and Name

In [3]:
dataset_name = "/2021/pep/population"

### 3. Start your Variable Request

In [4]:
get_start = "?get="

### 4. Add your Variables  
- Available Variables for Dataset: https://api.census.gov/data/2021/pep/population/variables.html

In [5]:
get_variables = "NAME,POP_2021"

###   5. Add your Geography  
- Available Geographies for Dataset:  https://api.census.gov/data/2021/pep/population/geography.html

In [6]:
geography = "&for=state:*"

###   6. Put it all Together and Test  
- Click the Link below to see if you formed the API correctly and if the data coming back is what you want.

In [7]:
request_url = base_url + dataset_name + get_start + get_variables + geography
print("request_url = ", request_url)

request_url =  https://api.census.gov/data/2021/pep/population?get=NAME,POP_2021&for=state:*

# 2. Use *requests* library to make the API call

In [8]:
# Make API Call
r = requests.get(request_url)

api_results = r.json()

In [9]:
print(api_results)

[['NAME', 'POP_2021', 'state'], ['Oklahoma', '3986639', '40'], ['Nebraska', '1963692', '31'], ['Hawaii', '1441553', '15'], ['South Dakota', '895376', '46'], ['Tennessee', '6975218', '47'], ['Nevada', '3143991', '32'], ['New Mexico', '2115877', '35'], ['Iowa', '3193079', '19'], ['Kansas', '2934582', '20'], ['District of Columbia', '670050', '11'], ['Texas', '29527941', '48'], ['Missouri', '6168187', '29'], ['Arkansas', '3025891', '05'], ['Michigan', '10050811', '26'], ['New Hampshire', '1388992', '33'], ['North Carolina', '10551162', '37'], ['Ohio', '11780017', '39'], ['South Carolina', '5190705', '45'], ['Wyoming', '578803', '56'], ['California', '39237836', '06'], ['North Dakota', '774948', '38'], ['Louisiana', '4624047', '22'], ['Maryland', '6165129', '24'], ['Delaware', '1003384', '10'], ['Pennsylvania', '12964056', '42'], ['Georgia', '10799566', '13'], ['Oregon', '4246155', '41'], ['Minnesota', '5707390', '27'], ['Colorado', '5812069', '08'], ['New Jersey', '9267130', '34'], ['Kentucky', '4509394', '21'], ['Washington', '7738692', '53'], ['Maine', '1372247', '23'], ['Vermont', '645570', '50'], ['Idaho', '1900923', '16'], ['Indiana', '6805985', '18'], ['Montana', '1104271', '30'], ['New York', '19835913', '36'], ['Puerto Rico', '3263584', '72'], ['Connecticut', '3605597', '09'], ['Florida', '21781128', '12'], ['Virginia', '8642274', '51'], ['Massachusetts', '6984723', '25'], ['Illinois', '12671469', '17'], ['Mississippi', '2949965', '28'], ['Arizona', '7276316', '04'], ['Utah', '3337975', '49'], ['Wisconsin', '5895908', '55'], ['Alabama', '5039877', '01'], ['West Virginia', '1782959', '54'], ['Rhode Island', '1095610', '44'], ['Alaska', '732673', '02']]

In [11]:
# pprint makes it possible to see the structure of the returned data -- but it can be very, very long!
# pprint.pprint(api_results)

# 3. Get the data into a Dataframe  
- These Census Data results are in a list and have a specific form:  
  - The first element is a list of column names  
  - The remaining list elements are data

In [12]:
df = pd.DataFrame(api_results)

print(df.shape)
df.head()

(53, 3)

              0         1      2
0          NAME  POP_2021  state
1      Oklahoma   3986639     40
2      Nebraska   1963692     31
3        Hawaii   1441553     15
4  South Dakota    895376     46

# 4. Get the first Row into columns and then get rid of it

### a. Grab the Column Names out of the First Row of the Dataframe
- Use iloc to point to the first row of the dataframe

In [14]:
column_names = df.iloc[0]

print(column_names)

0        NAME
1    POP_2021
2       state
Name: 0, dtype: object

### b. Set the columns property of the Dataframe equal to the column names we grabbed

In [15]:
df.columns = column_names

print(df.shape)
df.head()

(53, 3)

0          NAME  POP_2021  state
0          NAME  POP_2021  state
1      Oklahoma   3986639     40
2      Nebraska   1963692     31
3        Hawaii   1441553     15
4  South Dakota    895376     46

### c. Now Get Rid of the First Row of the Dataframe

In [16]:
df = df.iloc[1:]

print("7.1 Demo:  2021 State Populations")
print(df.shape)
df

7.1 Demo:  2021 State Populations
(52, 3)

0                   NAME  POP_2021 state
1               Oklahoma   3986639    40
2               Nebraska   1963692    31
3                 Hawaii   1441553    15
4           South Dakota    895376    46
5              Tennessee   6975218    47
6                 Nevada   3143991    32
7             New Mexico   2115877    35
8                   Iowa   3193079    19
9                 Kansas   2934582    20
10  District of Columbia    670050    11
11                 Texas  29527941    48
12              Missouri   6168187    29
13              Arkansas   3025891    05
14              Michigan  10050811    26
15         New Hampshire   1388992    33
16        North Carolina  10551162    37
17                  Ohio  11780017    39
18        South Carolina   5190705    45
19               Wyoming    578803    56
20            California  39237836    06
21          North Dakota    774948    38
22             Louisiana   4624047    22
23              Maryland   6165129    24
24              Delaware   1003384    10
25          Pennsylvania  12964056    42
26               Georgia  10799566    13
27                Oregon   4246155    41
28             Minnesota   5707390    27
29              Colorado   5812069    08
30            New Jersey   9267130    34
31              Kentucky   4509394    21
32            Washington   7738692    53
33                 Maine   1372247    23
34               Vermont    645570    50
35                 Idaho   1900923    16
36               Indiana   6805985    18
37               Montana   1104271    30
38              New York  19835913    36
39           Puerto Rico   3263584    72
40           Connecticut   3605597    09
41               Florida  21781128    12
42              Virginia   8642274    51
43         Massachusetts   6984723    25
44              Illinois  12671469    17
45           Mississippi   2949965    28
46               Arizona   7276316    04
47                  Utah   3337975    49
48             Wisconsin   5895908    55
49               Alabama   5039877    01
50         West Virginia   1782959    54
51          Rhode Island   1095610    44
52                Alaska    732673    02

# Optional:  Save the Joined Dataframe as a CSV file

In [15]:
#csv_file_to_create = "6.1_Demo_Output_Data.csv"

#filename_with_path = "Data/" + csv_file_to_create
#df.to_csv(filename_with_path, index=False)