# Demo 7.3 ACS 5yr Data Profile (*acs/acs5/profile*)     
 
- **Examples** (To Use as your Starting Point):   https://api.census.gov/data/2020/acs/acs5/profile/examples.html  
- **Variables**:  https://api.census.gov/data/2020/acs/acs5/profile/variables.html 
- **Supported Geographies**: https://api.census.gov/data/2020/acs/acs5/profile/geography.html  
- **Home Page**: https://www.census.gov/data/developers/data-sets/acs-5year.html  
 




- **Question**:  What is the percent of population for each NC County  who have a Graduate degrees and who are 25 or older?

In [14]:
import pandas as pd
import json
import requests
import pprint

import plotly.express as px

# 1. Build the API Request URL

### 1. How to Start your Data Request  
- Requests always begin with: https://api.census.gov/data

In [15]:
base_url = "https://api.census.gov/data"

### 2. Add the Dataset Name

In [16]:
dataset_name = "/2020/acs/acs5/profile"

### 3. Start your Variable Request

In [17]:
get_start = "?get="

### 4. Add your Variables  
- **DP02_0066PE**: Percent of Population 25 years and over with Graduate or professional degree

In [18]:
get_variables = "NAME,DP02_0066PE"

###   5. Add your Geography

In [19]:
geography = "&for=county:*&in=state:37"

###   6. Put it all Together

In [20]:
request_url = base_url + dataset_name + get_start + get_variables + geography
print("request_url = ", request_url)

request_url =  https://api.census.gov/data/2020/acs/acs5/profile?get=NAME,DP02_0066PE&for=county:*&in=state:37

# 2. Use *requests* library to make the API call

In [21]:
# Make API Call
r = requests.get(request_url)

api_results = r.json()

In [22]:
#print(api_results)

In [23]:
# pprint makes it possible to see the structure of the returned data -- but it can be very, very long!
#pprint.pprint(api_results)

In [24]:
type(api_results)

list

# 3. Get the data into a Dataframe  
- These Census Data results are in a list and have a specific form:  
  - The first element is a list of column names  
  - The remaining list elements are data

In [25]:
df = pd.DataFrame(api_results)

print(df.shape)
df.head()

(101, 4)

                                  0            1      2       3
0                              NAME  DP02_0066PE  state  county
1      Anson County, North Carolina          3.2     37     007
2   Beaufort County, North Carolina          8.2     37     013
3  Brunswick County, North Carolina         10.5     37     019
4   Cabarrus County, North Carolina         12.3     37     025

# 4. Get the first Row into columns and then get rid of it

In [26]:
df.columns = df.iloc[0]

df =df.iloc[1:]

print(df.shape)
df.head()

(100, 4)

0                              NAME DP02_0066PE state county
1      Anson County, North Carolina         3.2    37    007
2   Beaufort County, North Carolina         8.2    37    013
3  Brunswick County, North Carolina        10.5    37    019
4   Cabarrus County, North Carolina        12.3    37    025
5   Carteret County, North Carolina        11.5    37    031