# Lab 4

In [1]:
import pandas as pd
import plotly.express as px

# Get data

In [2]:
df = px.data.tips()

print(df.shape)
df.head()

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df["tip_percent"] = df["tip"] / df["total_bill"]

print(df.shape)
df.head(3)

(244, 8)

   total_bill   tip     sex smoker  day    time  size  tip_percent
0       16.99  1.01  Female     No  Sun  Dinner     2     0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3     0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3     0.166587

In [4]:
df.dtypes

total_bill     float64
tip            float64
sex             object
smoker          object
day             object
time            object
size             int64
tip_percent    float64
dtype: object

# Q1: Is there a difference in Male and Female Tippers?

In [5]:
df_Q1 = df.groupby(["sex"])["tip_percent"].mean()

print("Q1: Is there a difference in Male and Female Tippers?")
print(df_Q1.shape)
df_Q1 = df_Q1.to_frame()
df_Q1.head()

Q1: Is there a difference in Male and Female Tippers?
(2,)

        tip_percent
sex
Female     0.166491
Male       0.157651

# Q2: Is there a difference for Smokers vs Non-Smokers?

In [6]:
df_Q2 = df.groupby(["smoker"])["tip_percent"].mean()

print("Q2: Is there a difference for Smokers vs Non-Smokers? ")
print(df_Q2.shape)
df_Q2 = df_Q2.to_frame()
df_Q2.head()

Q2: Is there a difference for Smokers vs Non-Smokers?
(2,)

        tip_percent
smoker
No         0.159328
Yes        0.163196

# Q3: Is there a difference between Dinner and Lunch by Sex?

In [7]:
df_Q3 = df.groupby(["sex", "time"])["tip_percent"].mean()

print("Q3: Is there a difference between Dinner and Lunch by Sex?   ")
print(df_Q3.shape)
df_Q3 = df_Q3.to_frame()
df_Q3.head()

Q3: Is there a difference between Dinner and Lunch by Sex?
(4,)

               tip_percent
sex    time
Female Dinner     0.169322
       Lunch      0.162285
Male   Dinner     0.155407
       Lunch      0.166083

# Q4: Is there a difference by Party Size by Sex?

In [8]:
df_Q4 = df.groupby(["size", "sex"])["tip_percent"].mean()

print("Q4: Is there a difference by Party Size by Sex? ")
print(df_Q4.shape)
df_Q4 = df_Q4.to_frame()
df_Q4

Q4: Is there a difference by Party Size by Sex?
(12,)

             tip_percent
size sex
1    Female     0.215131
     Male       0.223776
2    Female     0.170830
     Male       0.162694
3    Female     0.159899
     Male       0.147641
4    Female     0.132734
     Male       0.150197
5    Female     0.172194
     Male       0.133821
6    Female     0.162891
     Male       0.149567

# Q5: Is there a difference for Days of the Week?

In [9]:
df_Q5 = df.groupby(["day"])["tip_percent"].mean()

print("Q5: Is there a difference for Days of the Week? ")
print(df_Q5.shape)
df_Q5 = df_Q5.to_frame()
df_Q5.head()

Q5: Is there a difference for Days of the Week?
(4,)

      tip_percent
day
Fri      0.169913
Sat      0.153152
Sun      0.166897
Thur     0.161276

# Q6: Is there a difference between Dinner and Lunch?

In [10]:
df_Q6 = df.groupby(["time"])["tip_percent"].mean()

print("Q6: Is there a difference between Dinner and Lunch?  ")
print(df_Q6.shape)
df_Q6 = df_Q6.to_frame()
df_Q6.head()

Q6: Is there a difference between Dinner and Lunch?
(2,)

        tip_percent
time
Dinner     0.159518
Lunch      0.164128

# Q7: Is there a difference by Party Size?

In [11]:
df_Q7 = df.groupby(["size"])["tip_percent"].mean()

print("Q7: Is there a difference by Party Size? ")
print(df_Q7.shape)
df_Q7 = df_Q7.to_frame()
df_Q7.head()

Q7: Is there a difference by Party Size?
(6,)

      tip_percent
size
1        0.217292
2        0.165719
3        0.152157
4        0.145949
5        0.141495