# Lab 3

In [1]:
import pandas as pd

# Part 1: Read csv
Read the CSV File into a *pandas* Dataframe  and display basic info about the new *pandas* Dataframe.

In [4]:
df = pd.read_csv("Data/NC_2019_pep_char_County_HISP-SEX.csv", dtype={'state': str, 'county': str, 'HISP': str, 'SEX':str})

print(df.shape)
df.head()

(900, 7)

  County Name       State Name HISP SEX     POP state county
0     Forsyth   North Carolina    0   0  382295    37    067
1     Jackson   North Carolina    0   0   43938    37    099
2     Jackson   North Carolina    1   0   41192    37    099
3     Jackson   North Carolina    2   0    2746    37    099
4     Iredell   North Carolina    0   0  181806    37    097

In [5]:
df.dtypes

County Name    object
State Name     object
HISP           object
SEX            object
POP             int64
state          object
county         object
dtype: object

# Q1.1: What were the 2019 Population for All North Carolina Counties?

In [11]:
df_Q1 = df.query("HISP=='0' and SEX=='0'")

print("Q1.1: What were the 2019 Population for All North Carolina Counties?")
print(df_Q1.shape)
df_Q1.head()

Q1.1: What were the 2019 Population for All North Carolina Counties?
(100, 7)

   County Name       State Name HISP SEX     POP state county
0      Forsyth   North Carolina    0   0  382295    37    067
1      Jackson   North Carolina    0   0   43938    37    099
4      Iredell   North Carolina    0   0  181806    37    097
7         Hyde   North Carolina    0   0    4937    37    095
10      Greene   North Carolina    0   0   21069    37    079

# Q1.2: In 2019, what Were the Top 5 NC Counties for Male Hispanic Populations?

In [12]:
df_Q2 = df.query("HISP=='2' and SEX=='1'")
df_Q2.sort_values(by='POP', ascending=False, inplace=True)

print("Q1.2: In 2019, what Were the Top 5 NC Counties for Male Hispanic Populations? ")

df_TopN = df_Q2.iloc[ : 5]
print(df_TopN.shape)
df_TopN

Q1.2: In 2019, what Were the Top 5 NC Counties for Male Hispanic Populations?
(5, 7)

C:\Users\W10\AppData\Local\Temp\ipykernel_17068\3697473641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Q1.sort_values(by='POP', ascending=False, inplace=True)

     County Name       State Name HISP SEX    POP state county
242  Mecklenburg   North Carolina    2   1  76958    37    119
425         Wake   North Carolina    2   1  57898    37    183
351      Forsyth   North Carolina    2   1  25445    37    067
773       Durham   North Carolina    2   1  22957    37    063
419     Guilford   North Carolina    2   1  22710    37    081