# Final Project: 2021 Data Wrangling

- **Vintage**:  2020 and 2021 (differences)
- **Geography Level**: State     
- **Variables**:  https://api.census.gov/data/2020/acs/acs5/profile/variables.html 
- **Supported Geographies**: https://api.census.gov/data/2020/acs/acs5/profile/geography.html

### ***Question***:  
- What is the estimation and percent of population who speak Spanish at home for each US state?

## 1. Import necessary packages

In [94]:
import pandas as pd
import json
import requests

## 2. Build the API Request URL

### 2.1. For vintage 2020

- Base URL

In [95]:
base_url_2020 = "https://api.census.gov/data"

- Dataset Name

In [96]:
dataset_name_2020 = "/2020/acs/acs5/profile"

- Get Variables

    - **DP02_0116E**: Estimate of population (5 years and over) who speaks Spanish at home
    - **DP02_0116PE**: Percent of population (5 years and over) who speaks Spanish at home

In [97]:
get_variables_2020 = "?get=NAME,DP02_0116E,DP02_0116PE"

- Geography Levels:

    - Every state in the US

In [98]:
geography_2020 = "&for=state:*"

- Put it all together

In [99]:
request_url_2020 = base_url_2020 + dataset_name_2020 + get_variables_2020 + geography_2020
print("request_url_2020 = ", request_url_2020)

request_url_2020 =  https://api.census.gov/data/2020/acs/acs5/profile?get=NAME,DP02_0116E,DP02_0116PE&for=state:*

### 2.2. For vintage 2021

- Base URL

In [100]:
base_url_2021 = "https://api.census.gov/data"

- Dataset Name

In [101]:
dataset_name_2021 = "/2021/acs/acs5/profile"

- Get Variables

    - **DP02_0116E**: Estimate of population (5 years and over) who speaks Spanish at home
    - **DP02_0116PE**: Percent of population (5 years and over) who speaks Spanish at home

In [102]:
get_variables_2021 = "?get=NAME,DP02_0116E,DP02_0116PE"

- Geography Levels:

    - Every state in the US

In [103]:
geography_2021 = "&for=state:*"

- Put it all together

In [104]:
request_url_2021 = base_url_2021 + dataset_name_2021 + get_variables_2021 + geography_2021
print("request_url_2021 = ", request_url_2021)

request_url_2021 =  https://api.census.gov/data/2021/acs/acs5/profile?get=NAME,DP02_0116E,DP02_0116PE&for=state:*

## 3. Make the API call

### 3.1. For vintage 2020

In [105]:
r_2020 = requests.get(request_url_2020)

api_results_2020 = r_2020.json()

### 3.2. For vintage 2021

In [106]:
r_2021 = requests.get(request_url_2021)

api_results_2021 = r_2021.json()

## 4. Get the data into a Dataframe

### 4.1. For vintage 2020

In [107]:
data_2020 = pd.DataFrame(api_results_2020)

print("Number of rows:", data_2020.shape[0])
print("Number of columns:", data_2020.shape[1])
data_2020.head()

Number of rows: 53
Number of columns: 4

            0           1            2      3
0        NAME  DP02_0116E  DP02_0116PE  state
1    Arkansas      153429          5.4     05
2  Washington      602058          8.5     53
3      Kansas      207181          7.6     20
4    Oklahoma      269433          7.3     40

In [108]:
# Get the first row into columns and then get rid of it
 
data_2020.columns = data_2020.iloc[0]

data_2020 = data_2020.iloc[1:]

print("Number of rows:", data_2020.shape[0])
print("Number of columns:", data_2020.shape[1])
data_2020.head()

Number of rows: 52
Number of columns: 4

0        NAME DP02_0116E DP02_0116PE state
1    Arkansas     153429         5.4    05
2  Washington     602058         8.5    53
3      Kansas     207181         7.6    20
4    Oklahoma     269433         7.3    40
5   Wisconsin     254258         4.6    55

### 4.2. For vintage 2021

In [109]:
data_2021 = pd.DataFrame(api_results_2021)

print("Number of rows:", data_2021.shape[0])
print("Number of columns:", data_2021.shape[1])
data_2021.head()

Number of rows: 53
Number of columns: 4

          0           1            2      3
0      NAME  DP02_0116E  DP02_0116PE  state
1   Alabama      156752          3.3     01
2    Alaska       23629          3.4     02
3   Arizona     1342767         20.1     04
4  Arkansas      155476          5.5     05

In [110]:
# Get the first row into columns and then get rid of it

data_2021.columns = data_2021.iloc[0]

data_2021 = data_2021.iloc[1:]

print("Number of rows:", data_2021.shape[0])
print("Number of columns:", data_2021.shape[1])
data_2021.head()

Number of rows: 52
Number of columns: 4

0        NAME DP02_0116E DP02_0116PE state
1     Alabama     156752         3.3    01
2      Alaska      23629         3.4    02
3     Arizona    1342767        20.1    04
4    Arkansas     155476         5.5    05
5  California   10514821        28.3    06

## 5. Merge both dataframes (data_2020 and data_2021)

In [111]:
left_table = data_2020
right_table = data_2021

In [112]:
left_table_join_field = 'NAME'
right_table_join_field = 'NAME'

In [113]:
df = pd.merge(left_table,       
                right_table,     
                left_on=left_table_join_field,
                right_on=right_table_join_field,
                how='left'                          # Type of Join:  Left
            )

print()
print("Left Table:  ", left_table.shape)
print("Right Table: ", right_table.shape)
print("Joined Dataframe: ", df.shape)
print()

df.head()

Left Table:   (52, 4)
Right Table:  (52, 4)
Joined Dataframe:  (52, 7)

,NAME,DP02_0116E_x,DP02_0116PE_x,state_x,DP02_0116E_y,DP02_0116PE_y,state_y
0,Arkansas,153429,5.4,05,155476,5.5,05
1,Washington,602058,8.5,53,620206,8.7,53
2,Kansas,207181,7.6,20,212194,7.7,20
3,Oklahoma,269433,7.3,40,274323,7.4,40
4,Wisconsin,254258,4.6,55,256965,4.6,55

## 6. Add states abbreviations

### 6.1 Import csv with states abbreviations

In [114]:
state_abb = pd.read_csv('Data/State_Abbreviations.csv')

print("Number of rows:", state_abb.shape[0])
print("Number of columns:", state_abb.shape[1])
state_abb.head()

Number of rows: 50
Number of columns: 2

   State_Name State_Abbrev
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

### 6.2. Deleting Puerto Rico and District of Columbia of the dataframe df to match the dataframe state_abb

In [115]:
states_to_delete = ['Puerto Rico', 'District of Columbia']
df.query("NAME not in @states_to_delete", inplace=True)

print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
df.head()

Number of rows: 50
Number of columns: 7

,NAME,DP02_0116E_x,DP02_0116PE_x,state_x,DP02_0116E_y,DP02_0116PE_y,state_y
0,Arkansas,153429,5.4,05,155476,5.5,05
1,Washington,602058,8.5,53,620206,8.7,53
2,Kansas,207181,7.6,20,212194,7.7,20
3,Oklahoma,269433,7.3,40,274323,7.4,40
4,Wisconsin,254258,4.6,55,256965,4.6,55

### 6.3. Merge both dataframes (df and state_abb)

In [116]:
left_table = df
right_table = state_abb

In [117]:
left_table_join_field = 'NAME'
right_table_join_field = 'State_Name'

In [118]:
df = pd.merge(left_table,       
                right_table,     
                left_on=left_table_join_field,
                right_on=right_table_join_field,
                how='left'                          # Type of Join:  Left
            )

print()
print("Left Table:  ", left_table.shape)
print("Right Table: ", right_table.shape)
print("Joined Dataframe: ", df.shape)
print()

df.head()

Left Table:   (50, 7)
Right Table:  (50, 2)
Joined Dataframe:  (50, 9)

,NAME,DP02_0116E_x,DP02_0116PE_x,state_x,DP02_0116E_y,DP02_0116PE_y,state_y,State_Name,State_Abbrev
0,Arkansas,153429,5.4,05,155476,5.5,05,Arkansas,AR
1,Washington,602058,8.5,53,620206,8.7,53,Washington,WA
2,Kansas,207181,7.6,20,212194,7.7,20,Kansas,KS
3,Oklahoma,269433,7.3,40,274323,7.4,40,Oklahoma,OK
4,Wisconsin,254258,4.6,55,256965,4.6,55,Wisconsin,WI

## 7. Cleaning

### 7.1. Dropping repeated columns

In [119]:
columns_to_delete = ['NAME', 'state_x']
df.drop(columns_to_delete, axis='columns', inplace=True)

print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
df.head()

Number of rows: 50
Number of columns: 7

,DP02_0116E_x,DP02_0116PE_x,DP02_0116E_y,DP02_0116PE_y,state_y,State_Name,State_Abbrev
0,153429,5.4,155476,5.5,05,Arkansas,AR
1,602058,8.5,620206,8.7,53,Washington,WA
2,207181,7.6,212194,7.7,20,Kansas,KS
3,269433,7.3,274323,7.4,40,Oklahoma,OK
4,254258,4.6,256965,4.6,55,Wisconsin,WI

### 7.2. Renaming columns

In [122]:
cols_to_rename = {
                   'DP02_0116E_x' : '2020 - Language spoken at home (Spanish) (DP02_0116E)', 
                   'DP02_0116PE_x' : '2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)', 
                   'DP02_0116E_y' : '2021 - Language spoken at home (Spanish) (DP02_0116E)', 
                   'DP02_0116PE_y' : '2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)', 
                   'state_y' : 'FIPS_State', 
                   'State_Abbrev' : 'State_Abbreviation'
                 }
df.rename(columns = cols_to_rename, inplace=True)

print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
df.head()

Number of rows: 50
Number of columns: 7

,2020 - Language spoken at home (Spanish) (DP02_0116E),2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE),2021 - Language spoken at home (Spanish) (DP02_0116E),2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE),FIPS_State,State_Name,State_Abbreviation
0,153429,5.4,155476,5.5,05,Arkansas,AR
1,602058,8.5,620206,8.7,53,Washington,WA
2,207181,7.6,212194,7.7,20,Kansas,KS
3,269433,7.3,274323,7.4,40,Oklahoma,OK
4,254258,4.6,256965,4.6,55,Wisconsin,WI

### 7.3. Creating new columns

In [124]:
df.dtypes

2020 - Language spoken at home (Spanish) (DP02_0116E)               object
2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)    object
2021 - Language spoken at home (Spanish) (DP02_0116E)               object
2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)    object
FIPS_State                                                          object
State_Name                                                          object
State_Abbreviation                                                  object
dtype: object

In [125]:
df['2021 - Language spoken at home (Spanish) (DP02_0116E)'] = df['2021 - Language spoken at home (Spanish) (DP02_0116E)'].astype(int)
df['2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)'] = df['2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)'].astype(float)
df['2020 - Language spoken at home (Spanish) (DP02_0116E)'] = df['2020 - Language spoken at home (Spanish) (DP02_0116E)'].astype(int)
df['2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)'] = df['2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)'].astype(float)

In [126]:
df.dtypes

2020 - Language spoken at home (Spanish) (DP02_0116E)                 int32
2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)    float64
2021 - Language spoken at home (Spanish) (DP02_0116E)                 int32
2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)    float64
FIPS_State                                                           object
State_Name                                                           object
State_Abbreviation                                                   object
dtype: object

In [127]:
df['Difference - Language spoken at home (Spanish) (DP02_0116E)'] = df['2021 - Language spoken at home (Spanish) (DP02_0116E)'] - df['2020 - Language spoken at home (Spanish) (DP02_0116E)']
df['Difference - Language spoken at home (Spanish) - Percent (DP02_0116PE)'] = df['2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)'] - df['2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)']

### 7.4. Reordering columns

In [128]:
cols_to_keep = ['State_Name', 'FIPS_State', 'State_Abbreviation', '2020 - Language spoken at home (Spanish) (DP02_0116E)', '2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE)', '2021 - Language spoken at home (Spanish) (DP02_0116E)', '2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE)', 'Difference - Language spoken at home (Spanish) (DP02_0116E)', 'Difference - Language spoken at home (Spanish) - Percent (DP02_0116PE)']
df = df[cols_to_keep]

print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
df.head()

Number of rows: 50
Number of columns: 9

,State_Name,FIPS_State,State_Abbreviation,2020 - Language spoken at home (Spanish) (DP02_0116E),2020 - Language spoken at home (Spanish) - Percent (DP02_0116PE),2021 - Language spoken at home (Spanish) (DP02_0116E),2021 - Language spoken at home (Spanish) - Percent (DP02_0116PE),Difference - Language spoken at home (Spanish) (DP02_0116E),Difference - Language spoken at home (Spanish) - Percent (DP02_0116PE)
0,Arkansas,05,AR,153429,5.4,155476,5.5,2047,0.1
1,Washington,53,WA,602058,8.5,620206,8.7,18148,0.2
2,Kansas,20,KS,207181,7.6,212194,7.7,5013,0.1
3,Oklahoma,40,OK,269433,7.3,274323,7.4,4890,0.1
4,Wisconsin,55,WI,254258,4.6,256965,4.6,2707,0.0

## 8. Save the Dataframe as a CSV file

In [129]:
csv_file_to_create = "2021_Data.csv"

filename_with_path = "Data/" + csv_file_to_create
df.to_csv(filename_with_path, index=False)